-- Create a user with a password
CREATE USER "{{ keycloak_username }}" WITH PASSWORD '{{ keycloak_password }}';
-- Create a database
CREATE DATABASE "keycloak" WITH OWNER = "{{ keycloak_username }}";
