-- Create a user with a password
CREATE USER "{{ nextcloud_username }}" WITH PASSWORD '{{ nextcloud_password }}';
-- Create a database
CREATE DATABASE "nextcloud" WITH OWNER = "{{ nextcloud_username }}";
