<?php
$AUTOCONFIG = array(
  "dbtype"        => "pgsql",
  "dbname"        => "nextcloud",
  "dbuser"        => "{{ nextcloud_username }}",
  "dbpass"        => "{{ nextcloud_password }}",
  "dbhost"        => "localhost",//"{{ postgres_host }}",
  "dbport"        => "{{ postgres_port }}",
  "dbtableprefix" => "oc_",
  "adminlogin"    => "{{ nextcloud_username }}",
  "adminpass"     => "{{ nextcloud_password }}",
);

